<header {{ attributes.defaults({ class: 'relative' }) }}>
  <twig:Header:Backdrop />

  <nav class="max-w-full mx-auto px-4 sm:px-6 lg:px-8 py-6 flex items-center justify-around lg:justify-between">
    <twig:Header:Logo :title="title|default('Aubaine')" />

    <twig:block name="right">
      <twig:Header:Nav :links="[
            { path: 'app_home',       label: 'nav.home' },
            { path: 'app_about',      label: 'nav.about' },
            { path: 'app_contribute', label: 'nav.contribute' },
            { path: 'app_changelog',  label: 'nav.changelog' }
        ]" />
    </twig:block>
  </nav>
</header>
