{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <main class="container" style="max-width: 960px; margin: 2rem auto; padding: 1rem;">
        <h1>Admin</h1>

        <ul>
            <li>
                <a href="{{ path('admin_skill_index') }}">Skills</a>
            </li>
            <li>
                <a href="{{ path('admin_tag_index') }}">Tags</a>
            </li>
        </ul>
    </main>
{% endblock %}
