<a {{ attributes.defaults({ class: 'select-none group flex items-center gap-1' }) }} href="{{ path('app_home') }}">
    <div class="grid place-items-center">
        <span class="row-start-1 col-start-1">
            <img
                src="{{ asset('build/images/Logo.png') }}"
                alt="Aubaine"
                decoding="async"
                fetchpriority="high"
                class="h-15 w-15 object-contain group-hover:scale-105 transition-all duration-200 ease-in-out"
            />
        </span>
        <span class="row-start-1 col-start-1">
            <twig:Effect:MagicalGlow :glow_scale="0.5" class="opacity-0 group-hover:opacity-100 transition-all duration-400 ease-in"/>
        </span>
   </div>

  <h1 class="group-hover:tracking-normal text-4xl mb-2 font-black tracking-tight drop-shadow transition-all duration-200 ease-in-out">Aubaine</h1>
</a>