<a {{ attributes.defaults({ class: 'select-none group flex items-center gap-1' }) }} href="/">
  <img
    src="{{ asset('build/images/Logo.png') }}"
    alt="Aubaine"
    decoding="async"
    fetchpriority="high"
    class="h-15 w-15 object-contain group-hover:scale-105 group-hover:-rotate-90 transition-transform duration-200 ease-in-out"
  />

  <h1 class="text-4xl mb-2 font-black tracking-tight drop-shadow">Aubaine</h1>
</a>